.App { 
    background: linear-gradient(215deg, #0099f7, #f11712);
    background-size: 400% 400%;

    -webkit-animation: AnimationName11sease infinite;
    -moz-animation: AnimationName11sease infinite;
    animation: AnimationName11sease infinite;
}

@-webkit-keyframes AnimationName{
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}
@-moz-keyframes AnimationName{
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}
@keyframes AnimationName{ 
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}